<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <a href="/pedido/create" class ="btn green">Cadastrar</a>
    </div>
    <div class="col s12 center-align">
      <table>
      <thead>
        <tr>
            <th>Id Pedido</th>
            <th>Id Produto</th>
            <th>Id Cliente</th>
        </tr>
      </thead>

      <tbody>
        {loop="$pedido"}
        <tr>
          <td>{$value.id_pedido}</td>
          <td>{$value.id_produto}</td>
          <td>{$value.id_cliente}</td>
          <td>
            <a href="/pedido/{$value.id_pedido}" class ="btn blue">Editar</a>
            <a href="/pedido/{$value.id_pedido}/delete" class ="btn red">Excluir</a>
          </td>
        </tr>
        {/loop}
      </tbody>
    </table>
    </div>
  </div>
</div>
