<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <a href="/produto/create" class ="btn green">Cadastrar</a>
    </div>
    <div class="col s12 center-align">
      <table>
      <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
        </tr>
      </thead>

      <tbody>
        {loop="$produto"}
        <tr>
          <td>{$value.id_produto}</td>
          <td>{$value.nome_produto}</td>
          <td>{$value.ds_produto}</td>
          <td>{$value.preco_produto}</td>
          <td>
            <a href="/produto/{$value.id_produto}" class ="btn blue">Editar</a>
            <a href="/produto/{$value.id_produto}/delete" class ="btn red">Excluir</a>
          </td>
        </tr>
        {/loop}
      </tbody>
    </table>
    </div>
  </div>
</div>
